.fav{
               position: relative;
}
.fav::after{
               content: "1";
               position: absolute;
               width: 25px;
               height: 25px;
               color:#fff;
               background-color: rgb(57, 52, 123);
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
               top: -12px;
               right: -5px;
}